
<script src="scripts/script.js"></script>
<script src="scripts/login.js"></script>
<script src="https://kit.fontawesome.com/7b3c62550d.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
AOS.init();
</script>
<script>
$(window).on("load", function() {
  $(".loader-wrapper").fadeOut("slow");
});
</script>
</body>
</html>
<!-- include your js files here-->