<!DOCTYPE html> <!-- include your stylesheet here with a /, because the path should be public/css/yourcss.css-->
<html lang="en" dir="ltr">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <title>Student Corner - #1 E-learning tool</title>
  </head>
  <body>
