@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); /* font */


:root /* directory of colors */
{
  --black: #070707;
  --darkBlue: #53599A;
  --lightBlue: #6D9DC5;
  --neonBlue: #AEECEF;
  --white: #FFFDF7;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;

}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* SECTION SETTINGS */
section
{
  height: 100vh;
  overflow: hidden;
  padding: 2rem 9%;
}
#home{
  z-index: 0;
}

#sectiontwo{
  z-index: 0;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#sectionthree{
  z-index: 0;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* END OF PART */


/* NAV BAR SETTINGS */
nav{
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: white;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 10%);
}

label.logo{
  padding: 10px 40px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 80px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

a:hover,a.active{
  background: none;
  color: var(--darkBlue);
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  top: 10px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  background-image: url("slider.png");
}

input:checked + .slider {
  background-color: var(--lightBlue);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* END OF PART */

/* HOMEPAGE SETTINGS */
.graph {
  width: 90%;
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.one{
  position: absolute;
  top: -29rem;
  right: 20rem;
}

.two{
  position: absolute;
  top: -5rem;
  right: 24rem;
}

.three{
  position: absolute;
  top: -18rem;
  right: 37rem;
}

.four{
  position: absolute;
  top: -24rem;
  right: 36rem;
}

.text-box {
  width: 90%;
  color: var(--black);
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-family: var(--black);
  font-size: 62px;
  margin: 0;
}

.text-box p {
  font-family: var(--black);
  font-size: 30px;
  margin: 10px 0 20px;
}

.text-box a {
  font-size: 20px;
  border-radius: .2rem;
}

.getStarted {
  width: 15%;
  display: inline-block;
  text-decoration: none;
  background: var(--darkBlue);
  color: var(--white);
  padding: 12px 34px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.getStarted:hover {
  background: var(--lightBlue);
  color: var(--white);
}

.boxy
{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxy span
{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #070707;
  border-right: 5px solid #070707;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.boxy span:nth-child(2)
{
  animation-delay: -0.2s;
}

.boxy span:nth-child(3)
{
  animation-delay: -0.4s;
}
/* END OF PART */

/* BENEFITS & TOOLS SETTINGS */
.heading {
  text-align: center;
  color: var(--black);
  font-size: 4rem;
  padding-bottom: 3rem;
  z-index: 2;
}

.benefits .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.benefits .box-container .box {
  flex: 1 1 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2rem;
  width: 26rem;
  position: relative;
}

.benefits .box-container .box h3 {
  font-size: 2rem;
  color: #000;
}

.benefits .box-container .box p {
  font-size: 1rem;
  color: #000;
  padding: 0.5rem 0;
  line-height: 2;
}

.darkBlue{
  background: rgb(77, 110, 138, .11);
}

.white{
  background: rgb(109, 157, 197, .11);
}

.lightBlue{
  background: rgb(83, 89, 154, .11);
}

.tooltip{
  position: relative;
  background: var(--darkBlue);
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 50%;
  color: var(--white);
  bottom: 3px;
  cursor: pointer;
}

.tooltip:before,
.tooltip:after{
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: var(--darkBlue) transparent transparent transparent;
  top: -10px;
  right: 7px;
  transform: translateY(20px);
}

.tooltip:after{
  content: attr(data-tooltip);
  background: var(--darkBlue);
  width: 160px;
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  top: -49px;
  left: -10px;
  border-radius: 4%;
}

.tooltip:hover:before,
.tooltip:hover:after{
  opacity: 1;
  transform: translateY(-2px);
}
/* END OF PART */
